{% extends 'base.html.twig' %}

{% block title %}Mes Profils de Trading{% endblock %}

{% block body %}

    <!-- Page de gestion des profils avec le nouveau sélecteur -->
    {% include 'components/profile_selector.html.twig' %}

    <div class="wrapper-container">
        <!-- Le nouveau sélecteur contient maintenant toutes les actions nécessaires -->
    </div>
{% endblock %}