{% extends 'base.html.twig' %}

{% block title %}Modifier l'observation - {{ market_watch.item.name }}{% endblock %}

{% block body %}
{% include 'components/compact_profile_header.html.twig' %}

    <div class="wrapper-container">
        {% include 'market_watch/_form.html.twig' with {
            form: form,
            character: market_watch.dofusCharacter,
            market_watch: market_watch,
            is_edit: true
        } %}
    </div>
{% endblock %}