{% extends 'base.html.twig' %}

{% block title %}Nouvelle Observation - {{ character.name }}{% endblock %}

{% block body %}
    <div class="wrapper-container">
        {% include 'market_watch/_form.html.twig' with {
            form: form,
            character: character,
            is_edit: false
        } %}
    </div>
{% endblock %}