{% extends 'base.html.twig' %}

{% block title %}Modifier le lot - {{ lot.item.name }}{% endblock %}

{% block body %}
{% include 'components/compact_profile_header.html.twig' %}

    <div class="wrapper-container">
        {% include 'lot/_form.html.twig' with {
            'form': form,
            'character': lot.dofusCharacter,
            'lot': lot,
            'is_edit': true
        } %}
    </div>
{% endblock %}