{% extends 'base.html.twig' %}

{% block title %}Nouveau Lot - {{ character.name }}{% endblock %}

{% block body %}
    <div class="wrapper-container">
        {% include 'lot/_form.html.twig' with {
            'form': form,
            'character': character,
            'is_edit': false
        } %}
    </div>
{% endblock %}