{%- if lot is defined -%}
{{ financial_card(label, lot, variant|default('default')) }}
{%- elseif amount is defined -%}
<div class="price-card">
    <div class="price-label">{{ label }}</div>
    {{ price(amount, color|default('white'), 'lg') }}
</div>
{%- endif -%}