{# templates/components/form_section.html.twig #}
{#
Section de formulaire avec titre et icône standardisée
Usage: {% include 'components/form_section.html.twig' with {
    title: 'Titre de la section',
    icon: '📝' (optionnel),
    color: 'blue' (optionnel: blue, green, orange, purple),
    content: content_block (le contenu du formulaire)
} %}
#}

{% set icon_class = color is defined ? 'text-' ~ color ~ '-400' : '' %}

<div class="wrapper-background">
    <h3 class="text-white text-lg font-semibold mb-6 flex items-center {{ icon_class }}">
        {% if icon is defined %}
            <span class="text-2xl mr-3">{{ icon }}</span>
        {% endif %}
        {{ title }}
    </h3>
    
    {{ content|raw }}
</div>